[submodule "submodule"]
	path = submodule
	url = https://github.com/GENTEL-lab/RILLIE.git
[submodule "model/IFM"]
	url = https://github.com/kevinhyj/TEST.git
[submodule "model/LLM"]
	url = https://github.com/kevinhyj/TEST.git
